[Desktop Entry]
#Encoding=UTF-8
Version=1.0
Name=Talend
GenericName=Talend
Type=Application
#Terminal=true
Exec=/usr/share/talend/TOS_DI-linux-gtk-x86_64 %U
#MimeType=application/x-virtualbox-vbox;application/x-virtualbox-vbox-extpack;application/x-virtualbox-ovf;application/x-virtualbox-ova;
#DocPath=file:///usr/share/doc/VirtualBox-4.1-4.1.16_78094_fedora17/UserManual.pdf
Icon=/usr/share/talend/TOS_DI-linux-gtk-x86_64
#Categories=Emulator;System;X-MandrivaLinux-System;Application;
#Comment=Run several virtual systems on a single host computer
#Comment[de]=Mehrere virtuelle Maschinen auf einem einzigen Rechner ausführen
#Comment[it]=Esegui più macchine virtuali su un singolo computer
#Comment[pl]=Uruchamianie wielu systemów wirtualnych na jednym komputerze gospodarza
#Comment[sv]=Kör flera virtuella system på en enda värddator
