
[Desktop Entry]
Type=Application
Exec=VirtualBox --startvm "Windows 7"
Hidden=false
X-GNOME-Autostart-enabled=true
Name[es_ES]=vm-dgd
Name=vm-dgd
Comment[es_ES]=
Comment=
