
[Desktop Entry]
Encoding=UTF-8
Name=xhostSetting
Comment=Autoinicio de xhost
Icon=default-browser
Exec=xhost +
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
X-Desktop-File-Install-Version=0.16
